{% extends 'store/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-18">
            <table class="table">
                <thead>
                <tr>
                    <th>Preview</th>
                    <th>Game</th>
                    <th>Price</th>
                    <th>Total Price</th>
                </tr>
                </thead>
                <tbody>
                {% for item in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'store:game' item.game.id %}">
                            <img src="{{ item.game.preview.url }}" alt="Preview" width="180" height="180">
                        </a>
                    </td>
                    <td>{{ item.game.title }}</td>
                    <td>{{ item.game.price }}</td>
                    <td>
                        <form method="post" id="manage-cart-form">
                            {% csrf_token %}
                            <input type="hidden" name="game_id" value="{{ item.game.id }}"/>
                            <input type="hidden" name="game_price" value="{{ item.game.price }}"/>

                            <button type="submit" class="btn btn-sm btn-outline-secondary w-100">
                                <h5 class="btn-cart{{ item.game.id }}">
                                    Remove
                                </h5>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3">Total Price</td>
                    <td colspan="1">${{ request.cart_price }}</td>
                </tr>
                <tr>
                    <td colspan="3">Quantity</td>
                    <td colspan="1">{{ request.cart_count }}</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

{% endblock %}
