{% extends 'store/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ game.preview.url }}" alt="{{ game.title }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h1>{{ game.title }}</h1>
            <p>{{ game.description }}</p>
            <p><strong>Genres</strong>:
                {% for genre in game.genre.all %}
                {{ genre }}
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p><strong>Publisher</strong>: {{ game.publisher }}</p>
            <p><strong>Age Rating</strong>: {{ game.age_rating }}</p>
            <p><strong>Price</strong>: {{ game.price }}</p>
            <div class="btn-group">
                <form method="post" id="manage-cart-form">
                    {% csrf_token %}
                    <input type="hidden" name="game_id" value="{{ game.id }}"/>
                    <input type="hidden" name="game_price" value="{{ game.price }}"/>

                    <button type="submit" class="btn btn-sm btn-outline-secondary">
                        <h4 class="btn-cart{{ game.id }}">
                            {% if game.in_cart %}
                            Remove
                            {% else %}
                            Add
                            {% endif %}
                        </h4>
                    </button>
                </form>
                <form method="post" id="manage-wishlist-form">
                    {% csrf_token %}
                    <input type="hidden" name="game_id" value="{{ game.id }}"/>
                    <button type="submit" class="btn btn-sm btn-outline-secondary">

                        <h4 class="btn-wishlist{{ game.id }}">
                            {% if not game.in_wishlist %}
                            Like
                            {% else %}
                            Unlike
                            {% endif %}

                        </h4>
                    </button>
                </form>
                <button class="btn btn-sm btn-outline-primary" id="order-btn">
                    <a href="#" class="text-decoration-none text-reset">
                        <h4>
                            Order
                        </h4>
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
