{% extends 'store/base.html' %}

{% block content %}

<div class="banner">
    <div class="container">
        <h1>Genres</h1>
        <p>Here you can find some games from our place sorted by genres.</p>
    </div>
</div>

<div class="container">
    {% for genre in genres %}
    <div class="genre-info">
        <h2><strong><a class="genre-link" href="{% url 'store:genre' slug=genre.slug %}">{{ genre.name }}</a></strong></h2>
        <p>{{ genre.description }}</p>
    </div>
    <div class="row g-4 row-cols-1 row-cols-md-4">
        {% for game in genre.game_set.all|slice:":4" %}
        <div class="col">
            <div class="card game-card shadow-sm">
                <div class="game-card-img-container">
                    <a href="{% url 'store:game' game.id %}">
                        <img src="{{ game.preview.url }}" alt="Preview" class="card-img-top game-card-img">
                    </a>
                </div>
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <a href="{% url 'store:game' game.id %}">
                            <h3 class="card-title">
                                {{ game.title }}
                            </h3>
                        </a>
                    </div>
                    <div class="btn-group">
                        <form method="post" id="manage-cart-form">
                            {% csrf_token %}
                            <input type="hidden" name="game_id" value="{{ game.id }}"/>
                            <input type="hidden" name="game_price" value="{{ game.price }}"/>

                            <button type="submit" class="btn btn-sm btn-outline-secondary w-100">
                                <h4 class="btn-cart{{ game.id }}">
                                    {% if game.in_cart %}
                                    Remove
                                    {% else %}
                                    Add
                                    {% endif %}
                                </h4>
                            </button>
                        </form>
                        <form method="post" id="manage-wishlist-form">
                            {% csrf_token %}
                            <input type="hidden" name="game_id" value="{{ game.id }}"/>
                            <button type="submit" class="btn btn-sm btn-outline-secondary w-100">

                                <h4 class="btn-wishlist{{ game.id }}">
                                    {% if not game.in_wishlist %}
                                    Like
                                    {% else %}
                                    Unlike
                                    {% endif %}

                                </h4>
                            </button>
                        </form>
                    </div>
                    <div class="price">
                                    <span class="text-muted">
                                        <h3>{{ game.price }}</h3>
                                    </span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}
