main {
  padding-top: 56px;
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* this will make sure that the elements wrap to the next line when there's no more space on the current line */
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bs-gray-700); /* Change to gray */
  --bs-btn-border-color: var(--bs-gray-700); /* Change to gray */
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--bs-gray-800);
  --bs-btn-hover-border-color: var(--bs-gray-800);
  --bs-btn-focus-shadow-rgb: var(--bs-gray-800);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--bs-gray-900);
  --bs-btn-active-border-color: var(--bs-gray-900);
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.game-card {
  z-index: 1;
  position: relative;
  display: block !important;
  height: 310px;
  width: 310px;
  overflow: hidden;
}

.game-card a {
  color: inherit;
  text-decoration: none;
}

.game-card a:hover {
  text-decoration: underline;
}

.btn-cart,
.btn-wishlist {
  margin: 0 5px;
}

.btn-cart:focus,
.btn-wishlist:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #007bff;
}

.btn-cart:focus:not(:focus-visible),
.btn-wishlist:focus:not(:focus-visible) {
  box-shadow: none;
}

.game-card-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.game-card-img-container {
  height: 150px;
  overflow: hidden;
}

.game-card .card-body {
  flex: 1;
  padding: 20px;
}

.game-card .price {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #ff3c7f;
}

.banner {
  padding: 100px 0;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-image: linear-gradient(to right, #ff7e5f, #ff3c7f);
}

.banner h1 {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 24px;
  max-width: 600px;
}

.banner p {
  font-size: 24px;
  line-height: 32px;
  max-width: 600px;
  margin-bottom: 48px;
}

.banner .btn {
  padding: 12px 32px;
  font-size: 24px;
  border-radius: 50px;
  background-color: #ff3c7f;
  color: white;
  text-decoration: none;
}

.banner .btn:hover {
  background-color: #ff7e5f;
}

.cart-summary {
  background-color: white;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-summary span {
  color: #333;
  font-weight: bold;
}

.cart-summary i.text-gray {
  color: #6c757d;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

td:nth-child(1) {
  width: 40%;
}

td:nth-child(2) {
  width: 40%;
}

td:nth-child(3) {
  width: 10%;
}

td:nth-child(4) {
  width: 60%;
  box-shadow: 1px 1px 2px #ccc;
}

td:nth-child(4) img {
  width: 100%;
  height: auto;
}

