{% extends 'users/base.html' %}
{% block content %}
<main class="form-signin w-100 m-auto">
    <form method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Authorization</h1>
        <div class="form-error">{{ form.non_field_errors }}</div>
        <div class="form-floating">
            {{ form.username }}
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            {{ form.password }}
            <label for="floatingPassword">Password</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Log in</button>
        <p class="text-body-secondary">If you don't have an account <a href="{% url 'users:register' %}">register</a></p>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2023–2024</p>
    </form>
</main>


{% endblock %}