{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="form-signin w-100 m-auto">
            <h1>Profile</h1>

            {% if user.photo %}
            <div class="media">
                <img class="rounded-circle account-img" src="{{ user.photo.url }}" width="100" height="100">
                <div class="media-body">
                    {% endif %}

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p class="form-control">
                            <label for="id_phone">Phone:</label>
                            {{ form.phone }}
                        </p>
                        <p class="form-control">
                            <label for="id_name">Name:</label>
                            {{ form.name }}
                        </p>
                        <p class="form-select-image">
                            <label for="id_photo">Photo:</label>
                            {{ form.photo }}
                        </p>
                        <button type="submit">Save</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}