{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>{{ user.username }}'s Profile</h1>
    {% if object.user.photo %}
    <img src="{{ user.photo.url }}" alt="Profile picture" width="200">
    {% else %}
    <img src="{% static 'default/no_pic_user.png' %}" alt="Profile"
         width="200">
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" value="{{ user.phone }}">
        </div>
        <div class="row">
            <br>
            <label for="street">Street:</label>
            <input type="text" id="street" name="street" value="{{ user.street }}">
        </div>
        <div class="row">
            <br>
            <label for="house_number">House number:</label>
            <input type="text" id="house_number" name="house_number" value="{{ user.house_number }}">
        </div>
        <div class="row">
            <br>
            <label for="apartment_number">Apartment number:</label>
            <input type="text" id="apartment_number" name="apartment_number" value="{{ user.apartment_number }}">
        </div>
        <div class="row">
            <br>
            <label for="city">City:</label>
            <input type="text" id="city" name="city" value="{{ user.city }}">
        </div>
        <div class="row">
            <br>
            <label for="zip_code">Zip code:</label>
            <input type="text" id="zip_code" name="zip_code" value="{{ user.zip_code }}">
        </div>
        <div class="row">
            <br>
            <label for="photo">Profile picture:</label>
            <input type="file" id="photo" name="photo">
        </div>
        <br>
        <button class="btn btn-outline-success search-btn" type="submit">Save changes</button>
    </form>
</div>
{% endblock %}