{% extends 'users/base.html' %}
{% block content %}
<body>
<div style="text-align: center;">
    <div>
    <h1 style="display: inline-block;">{{ user.name }}'s </h1>
    <h2 style="display: inline-block;">profile</h2>

    {% if user == request.user %}
    <a class="btn btn-link display: inline-block;" href="/profile/" style="display: inline-block;">Edit my profile</a>
    {% endif %}
    </div>
</div>
<div class="row">
    <div class="feed-item">
        <div class="media">

            {% if posts %}

            <div class="container">
                    {% for object in posts reversed %}

                <div class="row">
                    <div class="feed-item">
                        {% if object.user.photo %}
                        <div class="media" style="display: inline-block;">
                            <img class="rounded-circle account-img" src="{{ object.user.photo.url }}" width="28"
                                 height="28">
                        </div>
                        {% endif %}
                        <div class="user-info" style="display: inline-block;">
                            <div class="username-box">
                                <a>@{{ object.user }}</a>
                            </div>
                        </div>
                        {% if object.preview %}
                        <img src="{{ object.preview.url }}" alt="Preview"
                             style="max-width: 75%; display: block;">
                        {% endif %}
                        <div class="post-content">
                            <p>{{ object.description|linebreaksbr|truncatewords:125 }}</p>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <a class="btn btn-lg btn-block btn-outline-primary" href="/post/{{ object.pk }}">Open
                                the post</a>
                            <p>{{ object.post_time|custom_timesince }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</body>
{% endblock %}
